/****** Object:  Database [BioPestControlDb_Agri-expertService_Db]    Script Date: 24/07/2026 13:06:28 ******/
CREATE DATABASE [BioPestControlDb_Agri-expertService_Db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/07/2026 13:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChemicalProfiles]    Script Date: 24/07/2026 13:06:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChemicalProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[VietnameseName] [nvarchar](200) NULL,
	[CasNumber] [nvarchar](50) NULL,
	[ChemicalGroup] [nvarchar](100) NULL,
	[ChemicalFormula] [nvarchar](100) NULL,
	[Description] [nvarchar](2000) NULL,
	[ToxicityLevel] [nvarchar](20) NULL,
	[UsageMethod] [nvarchar](500) NULL,
	[SafetyNotes] [nvarchar](1000) NULL,
	[TargetCrops] [nvarchar](500) NULL,
	[TargetPests] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ChemicalProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260507091005_InitialChemicalSafety', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[ChemicalProfiles] ON 

INSERT [dbo].[ChemicalProfiles] ([Id], [Name], [VietnameseName], [CasNumber], [ChemicalGroup], [ChemicalFormula], [Description], [ToxicityLevel], [UsageMethod], [SafetyNotes], [TargetCrops], [TargetPests], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Boron', N'Bo', N'7440-42-8', N'Vi lượng / Phân bón', NULL, N'Nguyên tố vi lượng cần thiết cho sự phát triển của thực vật.', N'III', NULL, NULL, NULL, NULL, 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ChemicalProfiles] ([Id], [Name], [VietnameseName], [CasNumber], [ChemicalGroup], [ChemicalFormula], [Description], [ToxicityLevel], [UsageMethod], [SafetyNotes], [TargetCrops], [TargetPests], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Zinc Sulfate', N'Kẽm sunfat', N'7733-02-0', N'Vi lượng / Phân bón', NULL, N'Cung cấp kẽm cho cây trồng, khắc phục thiếu vi lượng.', N'III', NULL, NULL, NULL, NULL, 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[ChemicalProfiles] ([Id], [Name], [VietnameseName], [CasNumber], [ChemicalGroup], [ChemicalFormula], [Description], [ToxicityLevel], [UsageMethod], [SafetyNotes], [TargetCrops], [TargetPests], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Ethephon', N'Ethephon', N'16672-87-0', N'Điều hòa sinh trưởng', NULL, N'Chất điều hòa sinh trưởng kích thích chín trái, ra hoa.', N'II', NULL, NULL, NULL, NULL, 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ChemicalProfiles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChemicalProfiles_CasNumber]    Script Date: 24/07/2026 13:06:28 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ChemicalProfiles_CasNumber] ON [dbo].[ChemicalProfiles]
(
	[CasNumber] ASC
)
WHERE ([CasNumber] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChemicalProfiles_Name]    Script Date: 24/07/2026 13:06:28 ******/
CREATE NONCLUSTERED INDEX [IX_ChemicalProfiles_Name] ON [dbo].[ChemicalProfiles]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
