/****** Object:  Database [BioPestControlDb_CatalogService_Db]    Script Date: 24/07/2026 13:07:30 ******/
CREATE DATABASE [BioPestControlDb_CatalogService_Db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/07/2026 13:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24/07/2026 13:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedByAdminId] [int] NULL,
	[ManagedByStaffId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crops]    Script Date: 24/07/2026 13:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Crops] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCrops]    Script Date: 24/07/2026 13:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCrops](
	[ProductId] [int] NOT NULL,
	[CropId] [int] NOT NULL,
	[UsageInstruction] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductCrops] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CropId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24/07/2026 13:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Unit] [nvarchar](50) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CategoryId] [int] NOT NULL,
	[ChemicalProfileId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedByAdminId] [int] NULL,
	[ManagedByStaffId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260512020232_InitialCreate', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260512020647_CatalogStart', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260519062119_SeedProductsCatalogUpdated', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedByAdminId], [ManagedByStaffId]) VALUES (1, N'Phân bón và hóa chất', NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedByAdminId], [ManagedByStaffId]) VALUES (2, N'Thuốc trừ bệnh', NULL, NULL, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Description], [CreatedByAdminId], [ManagedByStaffId]) VALUES (3, N'Thuốc trừ cỏ', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Crops] ON 

INSERT [dbo].[Crops] ([Id], [Name], [Slug], [Description], [ImageUrl], [IsActive]) VALUES (1, N'Lúa (Rice)', N'la-rice', N'Cây lương thực chính yếu, dễ gặp sâu đục thân, rầy nâu, đạo ôn.', N'https://upload.wikimedia.org/wikipedia/commons/f/f2/Mature_Rice_%28India%29_by_Augustus_Binu.jpg', 1)
INSERT [dbo].[Crops] ([Id], [Name], [Slug], [Description], [ImageUrl], [IsActive]) VALUES (2, N'Cây Ăn Trái', N'cy-n-tri', N'Cây xoài, sầu riêng, cam bưởi... Cần nhiều vi lượng để nuôi trái, ra hoa.', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzx4xpU_wo6GA7QRM9-iFJyGf7H9Zk7TC9GHl04FdBHw&s=10', 1)
INSERT [dbo].[Crops] ([Id], [Name], [Slug], [Description], [ImageUrl], [IsActive]) VALUES (3, N'Rau Màu', N'rau-mu', N'Rau ăn lá, họ dưa bầu bí... dễ gặp sâu tơ, bọ trĩ, phấn trắng.', N'https://bizweb.dktcdn.net/thumb/grande/100/460/168/articles/rau-huu-co-organic-vn.jpg?v=1678958763537', 1)
SET IDENTITY_INSERT [dbo].[Crops] OFF
GO
INSERT [dbo].[ProductCrops] ([ProductId], [CropId], [UsageInstruction]) VALUES (2, 10, N'Bảo vệ hoa và trái non xoài khỏi thán thư.')
INSERT [dbo].[ProductCrops] ([ProductId], [CropId], [UsageInstruction]) VALUES (3, 3, N'An toàn cho rau màu, phòng trừ sâu tơ, sâu xanh.')
INSERT [dbo].[ProductCrops] ([ProductId], [CropId], [UsageInstruction]) VALUES (3, 10, N'Bảo vệ hoa và trái non xoài khỏi thán thư.')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Unit], [UnitPrice], [ImageUrl], [CategoryId], [ChemicalProfileId], [IsActive], [CreatedAt], [UpdatedAt], [CreatedByAdminId], [ManagedByStaffId]) VALUES (2, N'sp0002', N'TT-ANONIN 1EC', N'Thuốc trừ sâu sinh học, 100% nguồn gốc từ thực vật...', NULL, CAST(220000.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/duouljna1/image/upload/v1747627313/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/nc8tebfg4fnrjz1noed1.png', 1, 26, 0, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Unit], [UnitPrice], [ImageUrl], [CategoryId], [ChemicalProfileId], [IsActive], [CreatedAt], [UpdatedAt], [CreatedByAdminId], [ManagedByStaffId]) VALUES (3, N'sp0003', N'TT SNAILTA GOLD 750WP', N'Công thức mới với khả năng tác động mạnh...', NULL, CAST(220000.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/duouljna1/image/upload/v1747627313/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/i3eebcb0pudmpb12g7st.png', 1, 23, 0, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_ProductCrops_CropId]    Script Date: 24/07/2026 13:07:30 ******/
CREATE NONCLUSTERED INDEX [IX_ProductCrops_CropId] ON [dbo].[ProductCrops]
(
	[CropId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 24/07/2026 13:07:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_SKU]    Script Date: 24/07/2026 13:07:30 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_SKU] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductCrops]  WITH CHECK ADD  CONSTRAINT [FK_ProductCrops_Crops_CropId] FOREIGN KEY([CropId])
REFERENCES [dbo].[Crops] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCrops] CHECK CONSTRAINT [FK_ProductCrops_Crops_CropId]
GO
ALTER TABLE [dbo].[ProductCrops]  WITH CHECK ADD  CONSTRAINT [FK_ProductCrops_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCrops] CHECK CONSTRAINT [FK_ProductCrops_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
