/****** Object:  Database [BioPestControlDb_IdentityService_Db]    Script Date: 24/07/2026 13:08:25 ******/
CREATE DATABASE [BioPestControlDb_IdentityService_Db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/07/2026 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 24/07/2026 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[GroupCode] [nvarchar](100) NOT NULL,
	[GroupName] [nvarchar](200) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffPermissions]    Script Date: 24/07/2026 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffPermissions](
	[Id] [uniqueidentifier] NOT NULL,
	[StaffId] [uniqueidentifier] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[GrantedAt] [datetime2](7) NOT NULL,
	[GrantedByAdminId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StaffPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 24/07/2026 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsFullAccess] [bit] NOT NULL,
	[CreatedByAdminId] [uniqueidentifier] NULL,
	[UpdatedByAdminId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/07/2026 13:08:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[FullName] [nvarchar](256) NULL,
	[GoogleId] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ResetPasswordOtp] [nvarchar](6) NULL,
	[ResetPasswordExpiry] [datetime2](7) NULL,
	[Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Code], [DisplayName], [Description], [GroupCode], [GroupName], [DisplayOrder], [IsActive]) VALUES (1, N'customers.view_list', N'Xem danh sách khách hàng', NULL, N'UC14', N'UC14 - Quản lý khách hàng', 1, 1)
INSERT [dbo].[Permissions] ([Id], [Code], [DisplayName], [Description], [GroupCode], [GroupName], [DisplayOrder], [IsActive]) VALUES (2, N'customers.view_detail', N'Xem chi tiết khách hàng', NULL, N'UC14', N'UC14 - Quản lý khách hàng', 2, 1)
INSERT [dbo].[Permissions] ([Id], [Code], [DisplayName], [Description], [GroupCode], [GroupName], [DisplayOrder], [IsActive]) VALUES (3, N'customers.search', N'Tìm kiếm khách hàng', NULL, N'UC14', N'UC14 - Quản lý khách hàng', 3, 1)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[StaffPermissions] ([Id], [StaffId], [PermissionId], [GrantedAt], [GrantedByAdminId]) VALUES (N'ce4c987e-8315-4376-916f-05f9e578c36f', N'921edae4-d2de-4275-841d-7966dd8d3e7b', 5, CAST(N'2026-07-18T07:06:42.6468546' AS DateTime2), N'2bd814b5-4f79-421e-9ea5-977d3beb4559')
INSERT [dbo].[StaffPermissions] ([Id], [StaffId], [PermissionId], [GrantedAt], [GrantedByAdminId]) VALUES (N'4b655223-28b4-4932-bc82-0e4929a2acd7', N'921edae4-d2de-4275-841d-7966dd8d3e7b', 8, CAST(N'2026-07-18T07:06:42.6468580' AS DateTime2), N'2bd814b5-4f79-421e-9ea5-977d3beb4559')
INSERT [dbo].[StaffPermissions] ([Id], [StaffId], [PermissionId], [GrantedAt], [GrantedByAdminId]) VALUES (N'3716ef8a-7ba0-4a35-8901-11d711ea9dfb', N'921edae4-d2de-4275-841d-7966dd8d3e7b', 10, CAST(N'2026-07-18T07:06:42.6468602' AS DateTime2), N'2bd814b5-4f79-421e-9ea5-977d3beb4559')
GO
INSERT [dbo].[Staffs] ([Id], [UserId], [IsFullAccess], [CreatedByAdminId], [UpdatedByAdminId], [CreatedAt], [UpdatedAt]) VALUES (N'921edae4-d2de-4275-841d-7966dd8d3e7b', N'509be9de-f9e5-47e4-86e8-cb5905aa40c5', 1, N'2bd814b5-4f79-421e-9ea5-977d3beb4559', NULL, CAST(N'2026-07-18T07:06:42.5448212' AS DateTime2), NULL)
GO
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [GoogleId], [AvatarUrl], [PhoneNumber], [Role], [IsActive], [CreatedAt], [UpdatedAt], [ResetPasswordOtp], [ResetPasswordExpiry], [Address]) VALUES (N'598a46ef-361e-402c-9f5d-4aa5a9d234b7', N'test999@biopest.com', N'$2a$11$4ZxXpZDkDPOZtNkNRuz5Z.Vaxjj/950vAiXB8GxFGd39qYTG4ovNm', N'Test User', NULL, NULL, NULL, N'Customer', 0, CAST(N'2026-06-21T20:00:27.5568967' AS DateTime2), CAST(N'2026-07-05T09:37:10.0339266' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [GoogleId], [AvatarUrl], [PhoneNumber], [Role], [IsActive], [CreatedAt], [UpdatedAt], [ResetPasswordOtp], [ResetPasswordExpiry], [Address]) VALUES (N'8521bb19-40c9-464c-9a94-556dc182e1aa', N'test@test.com', N'$2a$11$.F2R9zziUloQAw7hPjwJzOLYknu/3vZvVtJeIWGLYjENrJTZfr5mG', N'test', NULL, NULL, NULL, N'Customer', 1, CAST(N'2026-06-21T16:39:41.3429718' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [GoogleId], [AvatarUrl], [PhoneNumber], [Role], [IsActive], [CreatedAt], [UpdatedAt], [ResetPasswordOtp], [ResetPasswordExpiry], [Address]) VALUES (N'59fa3f2b-3716-4288-8ce6-74c21acbe4d5', N'namnguyen123456cm@gmail.com', N'$2a$11$zyS8VBiMRm3sjc3KEb/uQONKkt72vbz0AUOMo6vTyL8LtwEE4INV6', N'Nguyen Tam', NULL, NULL, N'0933561709', N'Customer', 1, CAST(N'2026-06-21T15:01:02.7715217' AS DateTime2), CAST(N'2026-07-18T07:33:11.3708381' AS DateTime2), NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permissions_Code]    Script Date: 24/07/2026 13:08:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permissions_Code] ON [dbo].[Permissions]
(
	[Code] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StaffPermissions_PermissionId]    Script Date: 24/07/2026 13:08:25 ******/
CREATE NONCLUSTERED INDEX [IX_StaffPermissions_PermissionId] ON [dbo].[StaffPermissions]
(
	[PermissionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StaffPermissions_StaffId_PermissionId]    Script Date: 24/07/2026 13:08:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StaffPermissions_StaffId_PermissionId] ON [dbo].[StaffPermissions]
(
	[StaffId] ASC,
	[PermissionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staffs_UserId]    Script Date: 24/07/2026 13:08:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staffs_UserId] ON [dbo].[Staffs]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 24/07/2026 13:08:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StaffPermissions]  WITH CHECK ADD  CONSTRAINT [FK_StaffPermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffPermissions] CHECK CONSTRAINT [FK_StaffPermissions_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[StaffPermissions]  WITH CHECK ADD  CONSTRAINT [FK_StaffPermissions_Staffs_StaffId] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffPermissions] CHECK CONSTRAINT [FK_StaffPermissions_Staffs_StaffId]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Users_UserId]
GO
