/****** Object:  Database [BioPestControlDb_InventoryService_Db]    Script Date: 24/07/2026 13:09:41 ******/
CREATE DATABASE [BioPestControlDb_InventoryService_Db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/07/2026 13:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24/07/2026 13:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Unit] [nvarchar](50) NULL,
	[StockQuantity] [int] NOT NULL,
	[LowStockThreshold] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseImports]    Script Date: 24/07/2026 13:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseImports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchCode] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[QuantityImported] [int] NOT NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
	[SupplierName] [nvarchar](200) NULL,
	[Note] [nvarchar](500) NULL,
	[ExpirationDate] [datetime2](7) NULL,
	[ImportedByUserId] [uniqueidentifier] NOT NULL,
	[ImportedByUserName] [nvarchar](256) NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WarehouseImports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Unit], [StockQuantity], [LowStockThreshold], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'sp0001', N'Vi lượng-BOROZINC', N'Bo và Kẽm...', NULL, 50, 10, 0, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Unit], [StockQuantity], [LowStockThreshold], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'sp0002', N'TT-ANONIN 1EC', N'Thuốc trừ sâu...', NULL, 50, 10, 0, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Description], [Unit], [StockQuantity], [LowStockThreshold], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'sp0003', N'TT SNAILTA GOLD 750WP', N'Công thức mới...', NULL, 49, 10, 0, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_SKU]    Script Date: 24/07/2026 13:09:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_SKU] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WarehouseImports_ProductId]    Script Date: 24/07/2026 13:09:42 ******/
CREATE NONCLUSTERED INDEX [IX_WarehouseImports_ProductId] ON [dbo].[WarehouseImports]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WarehouseImports]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseImports_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[WarehouseImports] CHECK CONSTRAINT [FK_WarehouseImports_Products_ProductId]
GO
