/****** Object:  Database [BioPestControlDb_OrderingService_Db]    Script Date: 24/07/2026 13:10:59 ******/
CREATE DATABASE [BioPestControlDb_OrderingService_Db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 24/07/2026 13:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 24/07/2026 13:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ProductImageUrl] [nvarchar](500) NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 24/07/2026 13:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 24/07/2026 13:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 24/07/2026 13:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[CancellationReason] [nvarchar](1000) NULL,
	[CancelledAt] [datetime2](7) NULL,
	[CancelledByRole] [nvarchar](20) NULL,
	[CancelledByUserId] [uniqueidentifier] NULL,
	[PaidAt] [datetime2](7) NULL,
	[PaymentMethod] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[RefundedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260506054328_InitialCart', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260506064520_ManageCart', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260507060707_InitialOrderingSchema', N'8.0.0')
GO
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [ProductName], [UnitPrice], [ProductImageUrl], [Quantity], [AddedAt], [UpdatedAt]) VALUES (N'24f81104-c6f2-44ac-b47d-4e833c14b6d1', N'cdfe30b3-73d2-48d4-b4dc-e7717b4a9900', 4, N'TANO_606', CAST(130000.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/duouljna1/image/upload/v1747627312/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/tkamq3hklpk4xwplbhjb.jpg', 1, CAST(N'2026-07-22T01:24:28.5545805' AS DateTime2), NULL)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [ProductName], [UnitPrice], [ProductImageUrl], [Quantity], [AddedAt], [UpdatedAt]) VALUES (N'e0a8117e-7c25-40bf-a611-9f903bb2b1a5', N'15910c6d-24b4-488b-b130-0b53ea563f7a', 7, N'SPC - NPK', CAST(200000.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/duouljna1/image/upload/v1747627312/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/snkvpeu1aol3e0stvqmm.png', 1, CAST(N'2026-07-21T15:07:34.7578961' AS DateTime2), NULL)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [ProductName], [UnitPrice], [ProductImageUrl], [Quantity], [AddedAt], [UpdatedAt]) VALUES (N'b4d862b7-0bbb-4e02-81bd-fafb734a8046', N'cdfe30b3-73d2-48d4-b4dc-e7717b4a9900', 10, N'SPC_KALI_SILIC', CAST(250000.00 AS Decimal(18, 2)), N'https://res.cloudinary.com/duouljna1/image/upload/v1747627312/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/ftqxavgzmpayhdiud4y0.png', 1, CAST(N'2026-07-22T01:24:34.2359576' AS DateTime2), NULL)
GO
INSERT [dbo].[Carts] ([Id], [CustomerId], [CreatedAt], [UpdatedAt]) VALUES (N'15910c6d-24b4-488b-b130-0b53ea563f7a', N'59fa3f2b-3716-4288-8ce6-74c21acbe4d5', CAST(N'2026-07-21T15:07:34.2131659' AS DateTime2), CAST(N'2026-07-21T15:07:34.8168618' AS DateTime2))
INSERT [dbo].[Carts] ([Id], [CustomerId], [CreatedAt], [UpdatedAt]) VALUES (N'cdfe30b3-73d2-48d4-b4dc-e7717b4a9900', N'a9354df5-c859-46ff-a3da-c85a56160374', CAST(N'2026-07-22T01:24:28.3073962' AS DateTime2), CAST(N'2026-07-22T01:24:34.2441449' AS DateTime2))
GO
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [ProductImageUrl]) VALUES (N'5421bf95-344b-4b1d-850c-23700d382dc3', N'9d2326eb-9c65-48f2-ace5-cc123a98576e', 1, N'Vi lượng-BOROZINC', CAST(3000.01 AS Decimal(18, 2)), 1, N'https://res.cloudinary.com/duouljna1/image/upload/v1747627313/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/a5b2rc0vwrdq1yzexbpi.jpg')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [ProductImageUrl]) VALUES (N'326bd5ef-647b-42f4-8b1c-30576fca8141', N'360b9841-854f-435e-ac51-29e7f374937d', 4, N'TANO_606', CAST(130000.00 AS Decimal(18, 2)), 1, N'https://res.cloudinary.com/duouljna1/image/upload/v1747627312/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/tkamq3hklpk4xwplbhjb.jpg')
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [UnitPrice], [Quantity], [ProductImageUrl]) VALUES (N'149a7c3f-a81d-481c-bbec-419c945e6289', N'27df3611-eb49-426e-a9b2-82cb8be306bd', 4, N'TANO_606', CAST(130000.00 AS Decimal(18, 2)), 1, N'https://res.cloudinary.com/duouljna1/image/upload/v1747627312/WebBanThuocBVTV/phan%20bon%20va%20hoa%20chat/tkamq3hklpk4xwplbhjb.jpg')
GO
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [CancellationReason], [CancelledAt], [CancelledByRole], [CancelledByUserId], [PaidAt], [PaymentMethod], [PaymentStatus], [RefundedAt], [UpdatedAt]) VALUES (N'540d2588-22a0-4bcf-a9e6-17261aacdfcf', N'59fa3f2b-3716-4288-8ce6-74c21acbe4d5', CAST(N'2026-07-18T08:36:11.9822624' AS DateTime2), CAST(130000.00 AS Decimal(18, 2)), 0, N'tày, Xã Hưng Đạo, Tỉnh Cao Bằng | Receiver: Nguyen Tam | Phone: 0933561709', NULL, NULL, NULL, NULL, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [CancellationReason], [CancelledAt], [CancelledByRole], [CancelledByUserId], [PaidAt], [PaymentMethod], [PaymentStatus], [RefundedAt], [UpdatedAt]) VALUES (N'6530c1b5-4e98-45cb-95d2-24b5cd61f1a3', N'42dc1373-04aa-4f66-b179-b757c7039efb', CAST(N'2026-07-22T01:34:28.9558849' AS DateTime2), CAST(410000.00 AS Decimal(18, 2)), 0, N'aaa, Phường Ninh Kiều, Thành phố Cần Thơ | Receiver: taone | Phone: 0147852369', NULL, NULL, NULL, NULL, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [CustomerId], [OrderDate], [TotalAmount], [Status], [ShippingAddress], [CancellationReason], [CancelledAt], [CancelledByRole], [CancelledByUserId], [PaidAt], [PaymentMethod], [PaymentStatus], [RefundedAt], [UpdatedAt]) VALUES (N'65000b8f-342f-485c-adbd-275f7bae8442', N'a9354df5-c859-46ff-a3da-c85a56160374', CAST(N'2026-07-22T01:03:14.5147434' AS DateTime2), CAST(1100000.00 AS Decimal(18, 2)), 0, N'fpt, Xã Lạng Giang, Tỉnh Bắc Ninh | Receiver: Bien Huynh | Phone: 0912345678', NULL, NULL, NULL, NULL, NULL, 1, 0, NULL, NULL)
GO
/****** Object:  Index [IX_CartItems_CartId_ProductId]    Script Date: 24/07/2026 13:11:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CartItems_CartId_ProductId] ON [dbo].[CartItems]
(
	[CartId] ASC,
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_CustomerId]    Script Date: 24/07/2026 13:11:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Carts_CustomerId] ON [dbo].[Carts]
(
	[CustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 24/07/2026 13:11:00 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 24/07/2026 13:11:00 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
