VITE_IDENTITY_API=http://localhost:5240
VITE_CATALOG_API=http://localhost:5123
VITE_ORDERING_API=http://localhost:5112
VITE_TRADING_API=http://localhost:5071
VITE_ARTICLE_API=http://localhost:5286
VITE_AGRI_API=http://localhost:5050
VITE_INVENTORY_API=http://localhost:5256
